# Object files
*.o
*.ko
*.mod
*.mod.c
*.symvers
*.order

# Hidden files
.*.cmd
.tmp_versions/

# Binary & Executables
osfs
test_program

# Mount point and test files
mnt/
test*.txt
largefile

# Editor config
.vscode/
.idea/
*.swp